<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Burgers To Eat</h5>
        <ul class="list-group">
          {{#each burgerData}} {{#unless this.devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}} {{/each}}
        </ul>
      </div>
    </div>
  </div>
  
  
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Devoured Burgers</h5>
        <ul class="list-group">
          {{#each burgerData}} {{#if this.devoured}}
          <li class="list-group-item">
            <p>
              {{this.id}}. {{this.burger_name}}
            </p>
          </li>
          {{/if}} {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>