          <li class="list-group-item" id="devouredId">
            <p>
              {{this.burger_name}}
                <button id="devourBtn" data-id="{{this.id}}">Devour!</button>
            </p>
          </li>