<li class="list-group-item">
    <span class="label" id={{this.id}}>{{this.burger_name}}</span>

    <button type="button" data-id="{{this.id}}" id="devourBurgerButton" class="btn btn-info">Devour It!!</button>
</li>